// Navbar logo
.img-fluid-logo {
    max-width: 15%;
    height: auto;
}

.dropdown-item {
    font-weight: $nav-link-font-weight;
}

/* Links in navbar */
.navbar .nav-link {
    color: rgba(52, 50, 58, 0.88);
    font-weight: $nav-link-font-weight;

    &:hover {
        color: $malinowy;
    }
}
