// Flash messages
.flash-container {
    .flash-message {
        min-width: 280px;
        opacity: 0;
        transform: translateY(-10px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;

        &.show {
            opacity: 1;
            transform: translateY(0);
        }

        &.hide {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
}
