.admin-card {
    border-radius: 1rem !important;
    background: #fff;
    overflow: hidden;

    .card-header {
        background: $bg-pale;
        padding: 1.25rem 1.25rem 0.5rem 1.25rem;

        .card-title {
            font-weight: 600;
            // font-size: 1.15rem;
        }

        .card-subtitle {
            font-size: 1.25rem;
        }

        .admin-card-icon {
            font-size: 2rem;
            color: $malinowy-dark;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .card-body {
        padding: 1.5rem;

        &:last-child {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }
}
