@mixin padding-inline-block($inline: 1rem, $block: 0.25rem) {
    padding-inline: $inline;
    padding-block: $block;
}

@mixin text-color-malin-gradient($malinowy: #d64e72, $malinowy-dark: #b33b58) {
    background: linear-gradient(
        135deg,
        var(--malinowy, $malinowy),
        var(--malinowy-dark, $malinowy-dark)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
