// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Quicksand", sans-serif;

$font-size-base: 1.1rem;
$line-height-base: 1.6;

$nav-link-font-weight: 500;

// $body-color: #461717; // darker text - test
