// Use mixins using Sass modules
@use "mixins" as m;

// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Import partials (components)
@import "base";
@import "_components/buttons";
@import "_components/navbar";

// page-specific imports (if small)
@import "pages/home";

// Bootstrap
@import "bootstrap/scss/bootstrap";
